@model List<ResultAppointmentDto>
@{
    ViewData["Title"] = "AppointmentList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rezervasyon Listesi</h4>
            <a href="/Admin/Appointment/CreateAppointment/" class="btn btn-success"><i class="fas fa-plus-circle"></i> Yeni Rezervasyon Girişi</a><br /><br />
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Doktor</th>
                            <th>Hasta</th>
                            <th>Hasta TC</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.DoctorId</td>
                                <td>@item.PatientId</td>
                                <td>@item.PatientTcKimlik</td>
                                <td>@item.AppointmentDateTime.ToLongDateString()</td>
                                <td>
                                    <button class="btn btn-danger deleteBtn" data-id="@item.AppointmentId"><i class="fas fa-trash-alt"></i>  Sil</button>
                                </td>
                                <td><a href="/Admin/Appointment/UpdateAppointment/@item.AppointmentId" class="btn btn-warning"><i class="fas fa-edit"></i> Güncelle</a></td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        setupDeleteConfirmation('.deleteBtn', '/Admin/Appointment/RemoveAppointment/');
    });
</script>